@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "/node_modules/flowbite-vue/dist/index.css";

@font-face {
  font-family: "Pretendard-Thin";
  src: url("@/assets/fonts/Pretendard-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-ExtraLight";
  src: url("@/assets/fonts/Pretendard-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Light";
  src: url("@/assets/fonts/Pretendard-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("@/assets/fonts/Pretendard-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Medium";
  src: url("@/assets/fonts/Pretendard-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("@/assets/fonts/Pretendard-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Bold";
  src: url("@/assets/fonts/Pretendard-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url("@/assets/fonts/Pretendard-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Black";
  src: url("@/assets/fonts/Pretendard-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "harubang";
  src: url("@/assets/fonts/123RF_하르방_R_TTF.ttf");
  font-weight: 500;
  font-style: normal;
}
